@import './layout';
@import './typography';
@import './components/tabs';
@import './components/icon';
@import './components/form';
@import './components/app-header';
@import './components/create-item';

:root {
  --radius: 4px;
  --background-color: #ffffff;
  --background-color-secondary: #f0efef;
  --color-gray-light: #ecebeb;
  --color-gray: #c3c3c3;
  --color-gray-dark: #827575;
  --color-gray-blue: #f3f5f9;
  --color-gray-medium: #908989;
  --color-primary: #99e9ab;
  --color-primary-darker: #45a35b;
  --color-secondary-dim: #caddcd;
  --color-secondary: #b0c6b4;
  --color-danger: #cd4d4d;
  --color-text: #102406;
  --max-width: 1280px;
  --speed: .3s;
  --easing: ease-in-out;
}