@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}

.inner {
  margin: 50px auto 20px;
  max-width: var(--max-width);
}

html {
  font-family: "Roboto", sans-serif;
}

.tabs {
  display: flex;
  padding: 10px 20px;
  padding-bottom: 0;
  overflow: hidden;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  gap: 4px;
  overflow-x: auto;
  position: relative;
}
.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background-color: var(--color-secondary-dim);
  transition: all var(--speed) var(--easing);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0);
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 1 auto;
  font-size: 14px;
}
.tab.sticky {
  position: sticky;
  overflow: visible;
  z-index: 2;
}
.tab.sticky:nth-last-child(1) {
  right: 0;
}
.tab.sticky:nth-last-child(2) {
  right: 44px;
}
.tab.sticky:nth-last-child(3) {
  right: 88px;
}
.tab .tab-link {
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
  display: inline-block;
}
.tab:not(.sticky) .tab-link {
  min-width: 80px;
}
.tab .icon {
  width: 20px;
  height: 20px;
}
.tab.settings {
  margin-left: auto;
}
.tab.unsaved {
  font-weight: bold;
}
.tab .close-file {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-top: 4px;
  padding-left: 20px;
  padding-right: 6px;
  margin-left: -20px;
}
.tab .close-file .icon {
  width: 16px;
}
.tab .close-file .icon path:not([fill=none]) {
  fill: var(--color-gray-dark);
}
.tab.end {
  margin-left: auto;
}
.tab:hover, .tab.active {
  background-color: var(--background-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.icon {
  width: 32px;
  height: 32px;
}

.form {
  margin: 20px auto;
  max-width: var(--max-width);
}

.app-header {
  background-color: var(--color-secondary);
  position: relative;
}
.app-header:after {
  content: "";
  display: block;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--color-secondary) 5%);
  width: 155px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.create-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--color-gray-light) 1px solid;
  aspect-ratio: 1;
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
  padding: 20px;
  text-align: center;
  background-color: var(--background-color-secondary);
}

:root {
  --radius: 4px;
  --background-color: #ffffff;
  --background-color-secondary: #f0efef;
  --color-gray-light: #ecebeb;
  --color-gray: #c3c3c3;
  --color-gray-dark: #827575;
  --color-gray-blue: #f3f5f9;
  --color-gray-medium: #908989;
  --color-primary: #99e9ab;
  --color-primary-darker: #45a35b;
  --color-secondary-dim: #caddcd;
  --color-secondary: #b0c6b4;
  --color-danger: #cd4d4d;
  --color-text: #102406;
  --max-width: 1280px;
  --speed: .3s;
  --easing: ease-in-out;
}