.create-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--color-gray-light) 1px solid;
  aspect-ratio: 1;
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
  padding: 20px;
  text-align: center;
  background-color: var(--background-color-secondary);
}